.container {
    margin-bottom: 100px;
}
.slide-bg {
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item {
    padding: 20px 40px;
}
.price {
    color: #ff136f;
}
.btn {
    background-image: linear-gradient(to bottom, #ff589b, #ff136f 100%);
    border: none;
}
.watch, .bag, .shoes {
    color: white;
    border-radius: 10px;
    padding: 5% 0;
}
.watch {
    background-image: linear-gradient(to right, goldenrod, gold 100%);
}
.bag {
    background-image: linear-gradient(to right, #ff136f, #ff589b 100%);
}
.shoes {
    background-image: linear-gradient(to right, darkblue, blue);
}
.categories img {
    width: 30%;
}