.container {
    margin-bottom: 100px;
}
.pink-bg {
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item {
    padding: 20px 40px;
}
.price {
    color: #ff136f;
}
.btn {
    background-image: linear-gradient(to bottom, #ff589b, #ff136f 100%);
    border: none;
}
.watch, .bag, .shoes {
    color: white;
    border-radius: 10px;
    padding: 5% 0;
}
.watch {
    background-image: linear-gradient(to right, goldenrod, gold 100%);
}
.bag {
    background-image: linear-gradient(to right, #ff136f, #ff589b 100%);
}
.shoes {
    background-image: linear-gradient(to right, darkblue, blue);
}
.categories img {
    width: 30%;
}
.card {
    border: none;
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #ffffff;
}
.card-footer {
    background-color: white;
    border-top: none;
}
#contact {
    height: 400px;
}
#contact p {
    color: gray;
}
footer {
    text-align: center;
}